@import "tailwindcss";

@theme {
  /* Custom Tailwind Config goes here  */
}

@layer base {
  :root {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

    font-synthesis: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    /* stylelint-disable-next-line plugin/use-baseline */
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* stylelint-disable-next-line plugin/use-baseline */
    text-wrap: balance;
  }

  #root {
    isolation: isolate;
  }
}
